<div class="basket-main">
  <div class="basket-products">
    <p>Portions: {{this.basketService.getPortions()}}</p>
    <p>Price: {{this.basketService.getPrice()}}{{this.currencyService.getCurrency()}}</p>
  </div>
  <div class="basket-details">
    <p [style.font-size]="'2rem'">Details:</p>
    <div class="basket-item" *ngFor="let dish of this.basketItems | keyvalue">
      <img src="{{dish.key.images}}/main.jpg">
      <p>[{{dish.value}}] {{dish.key.name}} {{dish.key.price}}{{getCurrency()}}</p>
    </div>
  </div>
</div>
