.basket-main {
  min-height: 80vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009dff;
  border: 10px solid #009dff;
}

.basket-products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

.basket-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.basket-item  {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #009dff;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  text-transform: capitalize;
}

.basket-details img {
  width: 10rem;
}
