<div class="container">
  <div *ngIf="this.firebaseService.isLoggedIn" class="basket" [style.background-color]="(this.basketService.getPortions() > 10)? '#009dff' : 'orange'">
    <p>Portions: {{this.basketService.getPortions()}}</p>
    <p>Price: {{this.basketService.getPrice()}}{{this.currencyService.getCurrency()}}</p>
    <button (click)="changeCurrency()" class="currency-button">Currency: {{currency}}</button>
  </div>

  <app-filter [style.width]="'100%'" [dishList]="dishList" (onFilter)="setFilters($event)"></app-filter>

  <div class="dish-number">
    <p>Dishes per page:</p>
    <div class="radio-container" (click)="setDishesPerPage(4)">
      <input type="radio" class="dish-radio" name="dishes" id="4-dishes" [checked]="dishesPerPage==4">
      <label for="4-dishes" class="dish-label">4</label>
    </div>
    <div class="radio-container" (click)="setDishesPerPage(8)">
      <input type="radio" class="dish-radio" name="dishes" id="8-dishes" [checked]="dishesPerPage==8">
      <label for="8-dishes" class="dish-label">8</label>
    </div>
    <div class="radio-container" (click)="setDishesPerPage(12)">
      <input type="radio" class="dish-radio" name="dishes" id="12-dishes" [checked]="dishesPerPage==12">
      <label for="12-dishes" class="dish-label">12</label>
    </div>
    <div class="radio-container" (click)="setDishesPerPage(16)">
      <input type="radio" class="dish-radio" name="dishes" id="16-dishes" [checked]="dishesPerPage==16">
      <label for="16-dishes" class="dish-label">16</label>
    </div>
    <div class="radio-container" (click)="setDishesPerPage(20)">
      <input type="radio" class="dish-radio" name="dishes" id="20-dishes" [checked]="dishesPerPage==20">
      <label for="20-dishes" class="dish-label">20</label>
    </div>
  </div>

  <div class="dish-container"
       *ngFor="let dish of (dishList | dishPipe:filterValues[0]:filterValues[1]:filterValues[2]:filterValues[3]) as dishes;
       let i = index">
    <div class="dish-card"
         *ngIf="isOnActPage(i, dishes)"
         [style.border-color]="(dish.price == getMaxPrice())? 'red' : (dish.price == getMinPrice())? 'green' : '#009dff'"
         id="{{(dish.name).split(' ').join('-')}}"
         [routerLink]="['/menu', dish.id]">
      <button *ngIf="this.firebaseService.isLoggedIn" class="delete" (click)="deleteDish(dish, $event)">x</button>
      <img class="dish-img" src="{{dish.images}}/main.jpg" alt="{{dish.name}}">
      <p class="dish-name">{{ dish.name | uppercase }}</p>
      <p class="dish-cuisine">{{dish.cuisine | uppercase}}</p>
      <div class="dish-info">
        <p class="dish-quantity" [style.color]="(dish.quantity <= 3)? 'red' : 'black'">
          Available: {{dish.quantity}}
        </p>
        <p class="dish-price">
          Price: {{dish.price}}{{currency}}
        </p>
      </div>
      <div *ngIf="this.firebaseService.isLoggedIn" class="dish-buttons">
        <button class="add" (click)="addToBasket(dish, $event)" [disabled]="hideAddButton(dish)">+</button>
        <button class="remove" (click)="removeFromBasket(dish, $event)" [disabled]="hideRemoveButton(dish)">-</button>
      </div>
      <p [style.color]="(dish.rating>=3)? 'green' : 'red'">Rating: {{getRating(dish)}}</p>
    </div>
  </div>

  <div class="dish-pages">
    <button class="page-move" (click)="pageLeft()" [disabled]="pageNumber==0"><</button>
    <div class="page-number">{{this.pageNumber + 1}}</div>
    <button class="page-move" (click)="pageRight()" [disabled]="pageNumber==this.numberOfPages">></button>
  </div>
</div>
