.form-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish-form {
  padding: 0.5rem;
  wrap-option: none;
  min-height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.add-dish-btn {
  width: 100%;
  height: 1.5rem;
  border: none;
  background-color: green;
  color: white;
}
