*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .filter-main {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .filter-main {
    font-size: 10px;
  }
}
