<div class="rating">
  <input type="radio" name="star-{{dish.name}}" id="5-{{dish.name}}">
  <label class="star" (click)="addRating(5)" for="5-{{dish.name}}">*</label>
  <input type="radio" name="star-{{dish.name}}" id="4-{{dish.name}}">
  <label class="star" (click)="addRating(4)" for="4-{{dish.name}}">*</label>
  <input type="radio" name="star-{{dish.name}}" id="3-{{dish.name}}">
  <label class="star" (click)="addRating(3)" for="3-{{dish.name}}">*</label>
  <input type="radio" name="star-{{dish.name}}" id="2-{{dish.name}}">
  <label class="star" (click)="addRating(2)" for="2-{{dish.name}}">*</label>
  <input type="radio" name="star-{{dish.name}}" id="1-{{dish.name}}">
  <label class="star" (click)="addRating(1)" for="1-{{dish.name}}">*</label>
</div>
